<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>4uhost</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/bootstrap.css') }}">
   <!-- style css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/responsive.css') }}">
   <!-- fevicon -->
   <link rel="icon" href="{{ url_for('static', filename='styles/images/fevicon.png') }}" type="image/gif" />
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout inner_page hosting_page">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{{ url_for('static', filename='styles/images/loading.gif') }}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <div class="header">
      <div class="container">
         <div class="row d_flex">
            <div class=" col-md-2 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <a href="index.html"><img src="{{ url_for('static', filename='styles/images/logo.png') }}"
                              alt="#" /></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 col-sm-12">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                     aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="">Find Job</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
            <div class="col-md-2  d_none">
               <ul class="email text_align_right">
                  <li><a href="Javascript:void(0)">Test Account
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- end header inner -->
   <!-- order -->
   <div class="order">
      <div class="container">
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <div class="titlepage text_align_center">
                  <h2>Check Out Awesome Jobs, <br> <span class="blue_light">And Apply Now</span></h2>
                  <p>Type in the job you are willing to find, and the bot will help you
                  </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-7">
               <div class="msger">
                  <div class="msger-header">
                     <div class="msger-header-title">
                        <i class="fas fa-bug"></i> Job Hunting Assistant <i class="fas fa-bug"></i>
                     </div>
                  </div>

                  <div class="msger-chat">
                     <div class="msg left-msg">
                        <div class="msg-img"
                           style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)">
                        </div>

                        <div class="msg-bubble">
                           <div class="msg-info">
                              <div class="msg-info-name">Job Hunting Assistant</div>
                              <div class="msg-info-time">now</div>
                           </div>

                           <div class="msg-text">
                              Hi, welcome to Job Hunting Assistant! Type in the job you are willing to and I will
                              help you find them, also give you some advice too!
                           </div>
                        </div>
                     </div>

                  </div>

                  <form class="msger-inputarea">
                     <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
                     <button type="submit" class="msger-send-btn">Send</button>
                  </form>
               </div>
            </div>
            <div class="col-md-5">
               <h3 class="text-center">Your suggestion for companies</h3>
               <div class="row g-0 p-2 my-2 border border-primary-subtle rounded" id="umsg">
               </div>
               <div class="row" id="ursp">
               </div>
            </div>
         </div>
         <h3>List of potential jobs</h3>
         <div class="receive"></div>
      </div>
   </div>
   <!-- end order -->
   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="infoma text_align_left">
                     <h3>Choose.</h3>
                     <ul class="commodo">
                        <li>Commodo</li>
                        <li>consequat. Duis a</li>
                        <li>ute irure dolor</li>
                        <li>in reprehenderit </li>
                        <li>in voluptate </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="infoma">
                     <h3>Get Support.</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Address : Loram Ipusm
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>Call : +01 1234567890</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> Email :
                              demo@gmail.com</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="infoma">
                     <h3>Company.</h3>
                     <ul class="menu_footer">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About </a></li>
                        <li><a href="findjob.html">Find Job</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="infoma text_align_left">
                     <h3>Services.</h3>
                     <ul class="commodo">
                        <li>Commodo</li>
                        <li>consequat. Duis a</li>
                        <li>ute irure dolor</li>
                        <li>in reprehenderit </li>
                        <li>in voluptate </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2023 All Rights Reserved</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="{{ url_for('static', filename='styles/js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='styles/js/bootstrap.bundle.min.js') }}"></script>
   <!-- sidebar -->
   <script src="{{ url_for('static', filename='styles/js/custom.js') }}"></script>
   <script>
      const msgerForm = get(".msger-inputarea");
      const msgerInput = get(".msger-input");
      const msgerChat = get(".msger-chat");

      // Icons made by Freepik from www.flaticon.com
      const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
      const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
      const BOT_NAME = "Job Hunting Assistant";
      const PERSON_NAME = "You";

      msgerForm.addEventListener("submit", event => {
         event.preventDefault();

         const msgText = msgerInput.value;
         if (!msgText) return;

         appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
         msgerInput.value = "";
         botResponse(msgText);
         $("#umsg").html(msgText);
         let rsBox = `
            <textarea class="form-control my-2" placeholder="Your suggestion" type="type" Message="Name"></textarea>
            <button class="btn btn-primary">Send</button>
         `;
         $("#ursp").html(rsBox);
         appendMessage(BOT_NAME, BOT_IMG, "left", "\nThese are some jobs I believe fit your demand.");
         $.get("/test", { msg: msgText }, function (data) {
            let jobInfo = JSON.parse(data);
            let str = "";
            for (let job of jobInfo) {
               str += '<div class="row g-0 border border-primary-subtle rounded p-2 my-2 justify-content-between">';
               str += '<div class="col-auto">'
               str += '<div class="row"><h5>' + job[0] + '</h5></div>';
               str += '<div class="row">' + job[1] + '</div>';
               str += '<div class="row">' + job[2] + '</div>';
               str += '</div>';
               str += '<div class="col-auto"><form method="GET" action="detail.html">';
               str += '<button type="submit" class="btn btn-primary" name="id" value="' + job[3] + '">View</button>';
               str += '</form></div>';
               str += '</div>';
            }
            $(".receive").html(str);
         })
      });

      function appendMessage(name, img, side, text) {
         //   Simple solution for small apps
         const msgHTML = `
 <div class="msg ${side}-msg">
   <div class="msg-img" style="background-image: url(${img})"></div>
 
   <div class="msg-bubble">
     <div class="msg-info">
       <div class="msg-info-name">${name}</div>
       <div class="msg-info-time">${formatDate(new Date())}</div>
     </div>
 
     <div class="msg-text">${text}</div>
   </div>
 </div>
 `;
         msgerChat.insertAdjacentHTML("beforeend", msgHTML);
         msgerChat.scrollTop += 500;
      }

      function botResponse(rawText) {
         // Bot Response
         $.get("/get", { msg: rawText }).done(function (data) {
            console.log(rawText);
            console.log(data);
            const msgText = data;
            appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
         });
      }
      // Utils
      function get(selector, root = document) {
         return root.querySelector(selector);
      }
      function formatDate(date) {
         const h = "0" + date.getHours();
         const m = "0" + date.getMinutes();

         return `${h.slice(-2)}:${m.slice(-2)}`;
      }
   </script>
</body>

</html>